@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body{
    background-color: #000;
    color: #b3b3b3;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: #000000;
    padding: 12px;
}

.sidebar_navigation{
    background-color: #121212;
    height: 150px;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo{
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar_navigation .logo img{
    width: 80px;
}

.sidebar nav ul{
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li{
    padding: 10px 0;
}

.sidebar nav ul li a{
    cursor: pointer;
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    font-family: "Noto Sans JP", sans-serif;
    display: flex;
    gap: 20px;
}

.biblioteca{
    background-color: #121212;
    height: 150px;
    border-radius: 8px;
    padding: 16px 0 0 16px;
    margin-top: 10px;
    height: 65%;
}

.biblioteca div.titulo{
    display: flex;
    gap: 10px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans JP", sans-serif;
}

.biblioteca div.titulo .fa-plus{
    cursor: pointer;
    margin-left: 80px;
}

.biblioteca .funcoes div{
    margin: 10px 10px 0px 0px;
    padding: 20px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #242424;
    color: #fff;
}

.biblioteca .funcoes div p{
    font-size: 16px;
    font-weight: bold;
}

.biblioteca .funcoes div span{
    font-size: 11px;
}

.biblioteca .funcoes div button{
    cursor: pointer;
    width: 130px;
    margin-top: 15px;
    padding: 5px;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 12px;
}

.biblioteca button.idioma{
    cursor: pointer;
    background: transparent;
    color: #fff;
    border-radius: 12px;
    border: 1px solid #fff;
    padding: 10px 15px; 
    margin: 25px 15px;
}